<ion-menu [content]="content" [enabled]="isMenuEnabled">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{welcomeMessage()}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose ion-item (click)="openDashboard()" *ngIf="(af.auth | async)?.uid">
        {{dashboard.title}}
      </button>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button menuClose ion-item (click)="logout()" *ngIf="(af.auth | async)?.uid">
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" [rootParams]="rootParams" #content swipeBackEnabled="false"></ion-nav>
